/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: "poppins", sans-serif;
  background-color: #302f2f;
  color: black;
  height: 100vh;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:active {
  text-decoration: none;
}
.container {
  max-width: 100%;
  position: relative;
  background-color: rgb(26, 25, 25);
  margin: 0 auto;
}

.container-side-main {
  position: relative;
}

.nav-bar {
  position: relative;
  display: flex;
  background-color: black;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  /* gap: 10px; */
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 99;
}

.logoname {
  display: inherit;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-bottom: 1px solid white;
  justify-content: center;
}

.container-nav-item {
  display: flex;
  font-size: 1em;
  justify-content: space-evenly;
}

.nav-item {
  font-family: "monserrat", sans-serif;
  padding: 10px;
  color: white;
  font-weight: 500;
}
.nav-item:hover {
  padding: 10px;
  color: black;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}
.nav-item:hover {
  padding: 10px;
  /* color: black; */
  border-radius: 5px;
  font-weight: 500;
  background-color: white;
  transition: all 0.3s ease-in-out;
  /* border-radius: 5px; */
  /* background-color: white; */
}

.hero-img {
  background-image: url("asset/yoasobi-bg.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 10px 0px;
  /* border-radius: 50%; */
}

.hero-text {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.1); /* Background transparan */
  backdrop-filter: blur(10px); /* Efek blur */
  -webkit-backdrop-filter: blur(10px); /* Untuk dukungan di browser Webkit */
  border-radius: 8px;
  padding: 10px;
}

.profile-band {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
  margin-bottom: 15px;
  background-color: rgb(52, 52, 52); /* Background transparan */
  backdrop-filter: blur(10px); /* Efek blur */
  -webkit-backdrop-filter: blur(10px); /* Untuk dukungan di browser Webkit */
  border-radius: 8px;
  padding: 20px;
}

.img-profile-container {
  background-size: cover;
  background-position: top;
  margin: 20px 0px;
}

.img-band {
  background-image: url("asset/yoasobi-profile.jpg");
  width: 100%;
  height: 300px;
}

.profile-band p {
  /* display: flex; */
  text-align: justify;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 10px;
}

.img-yoruNiKakeru {
  background-image: url("asset/yoru-ni-kakeru.gif");
  width: 100%;
  height: 300px;
}

.profile-band h2 {
  /* display: flex; */
  /* margin-bottom: 10px; */
  font-size: 1.5em;
  line-height: 1.5;
}

.btn-ytb {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: red;
  color: black;
}
.btn-ytb:hover {
  transition: all 0.3s ease-in-out;
  color: red;
  background-color: black;
}

.img-ayase-ikura {
  background-image: url("asset/yoasobi-ayase-ikura.jpg");
  width: 100%;
  height: 500px;
}

.member-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
  background-color: rgb(255, 255, 255); /* Background transparan */
  backdrop-filter: blur(10px); /* Efek blur */
  -webkit-backdrop-filter: blur(10px); /* Untuk dukungan di browser Webkit */
  border-radius: 8px;
  padding: 20px;
}

.member-profile h2 {
  font-size: 1.5em;
}

.img-ayase {
  background-image: url("https://www.sponichi.co.jp/entertainment/news/2023/06/29/jpeg/20230629s00041000526000p_view.jpg");
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.img-ikura {
  background-image: url("https://i.pinimg.com/736x/96/e3/76/96e376a5b84ff9f139143908b9e04f93.jpg");
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.container-top-songs {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  color: rgb(0, 0, 0);
  margin-bottom: 15px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 8px;
}

.container-songs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color: azure; */
}

.container-song {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  background-color: rgba(0, 0, 0); /* Background transparan */
  backdrop-filter: blur(10px); /* Efek blur */
  -webkit-backdrop-filter: blur(10px); /* Untuk dukungan di browser Webkit */
  border-radius: 8px;

  padding: 40px 20px;
}

.img-top-5 {
  /* background-image: url("https://i1.sndcdn.com/artworks-nypVxQysyyck8wyt-wSzUwg-t500x500.jpg"); */
  background-size: cover;
  width: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

.container-top-songs h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}
.container-songs p {
  text-align: justify;
  line-height: 1.5;
  font-weight: 300;
}
.text-top-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.text-top-5 h3 {
  font-size: 1.2em;
  font-family: "monserrat", sans-serif;
  font-weight: bold;
}

.img-idol {
  background-image: url("https://i1.sndcdn.com/artworks-nypVxQysyyck8wyt-wSzUwg-t500x500.jpg");

  height: 300px;
}
.img-monster {
  background-image: url("https://i.scdn.co/image/ab67616d0000b273f609c79794752ed7ee0976b5");
  height: 300px;
}
.img-yoru-ni-kakeru {
  background-image: url("https://www.galpo.info/sites/default/files/inline-images/%E5%A4%9C%E3%81%AB%E9%A7%86%E3%81%91%E3%82%8B_JK_small.jpg");
  height: 300px;
}
.img-gunjou {
  background-image: url("https://is1-ssl.mzstatic.com/image/thumb/Music115/v4/ae/7e/4a/ae7e4a28-fd46-9617-1066-fcbd124303d6/195497105656.jpg/1200x1200bf-60.jpg");
  height: 300px;
}
.img-tabun {
  background-image: url("https://images.genius.com/ea0ed207d97747fc8130b39be4748564.1000x1000x1.jpg");
  height: 300px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #000000; */
  background-image: url("https://wallpapercave.com/wp/wp7910145.png");
  background-position: top;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

/* .footer {
  background-color: #494747;
  color: white;
  padding: 20px 0;
  text-align: center;
} */

.container-footer {
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.1); /* Background transparan */
  backdrop-filter: blur(10px); /* Efek blur */
  -webkit-backdrop-filter: blur(10px); /* Untuk dukungan di browser Webkit */
  border-radius: 8px;
  padding: 10px;
  color: white;
}

.social-links {
  margin-top: 10px;
}

.social-link {
  color: #4a90e2;
  text-decoration: none;
  margin: 0 10px;
}

.social-link:hover {
  color: #1e90ff;
}

/* 

halaman question.html

*/

.main-question {
  margin-top: 10px;
  width: 100%;
  background-color: black;
}

.hero-question {
  font-family: "poppins", sans-serif;
  text-align: center;
  padding: 20px 0px;
  width: 100%;
  background-color: black;
}

.img-hero-question {
  background-image: url("https://images7.alphacoders.com/125/thumb-1920-1253348.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: end;
  /* margin: 10px 0px; */
}
.img-hero-question h1 {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
  font-size: 1.2em;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.1); /* Background transparan */
  backdrop-filter: blur(10px); /* Efek blur */
  -webkit-backdrop-filter: blur(10px); /* Untuk dukungan di browser Webkit */
  border-radius: 8px;
  padding: 10px;

  /* margin: 10px 0px; */
}
/* .hero-question h1 {
  text-align: center;
  color: white;
  font-size: 2em;
  padding: 20px;
} */

form {
  /* background-color: wheat; */
  border-radius: 20px;
  padding: 20px;
  font-family: "inter", sans-serif;
  line-height: 1.5;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.container-label-input {
  display: flex;
  background-color: #111010;
  color: white;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}
.container-label-input label {
  font-size: 1.2em;
}
.container-label-input input {
  border-radius: 10px;
  border: 1px solid black;
  font-size: 1.1em;
  background-color: black;
  color: white;
  padding: 10px 10px;
}

.container-label-input input:focus {
  outline: none;
  border: 1px solid white;
}
.container-label-input textarea:focus {
  outline: none;
  border-radius: 10px;
  border: 1px solid white;
}
.container-label-input textarea {
  padding: 10px;
  background-color: #111010;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 1.1em;
  height: 250px;
}

.container-radio {
  display: flex;
  flex-direction: column;
  gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.container-radio input {
  width: 15px;
  height: 15px;
}
.container-radio input:active {
  background-color: rgb(0, 0, 0);
}

input[type="radio"] {
  display: none;
}

/* Membuat label sebagai radio button kustom */
input[type="radio"] + label {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  margin: 5px;
  width: 100%;
  transition: all 0.3s ease;
}

.favorite {
  padding: 20px;
}

.genre {
  padding: 20px;
}

.container-name-year {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.nama {
  width: 100%;
}
.year {
  width: 100%;
}

form h1 {
  text-align: center;
  font-family: "poppins", sans-serif;
  font-size: 2em;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Warna dan border ketika radio button dipilih */
input[type="radio"]:checked + label {
  background-color: #ffffff; /* Warna latar belakang saat dipilih */
  border-color: #ffffff; /* Warna border saat dipilih */
  color: rgb(0, 0, 0); /* Warna teks saat dipilih */
}

input[type="radio"] + label:hover {
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
}

input[type="checkbox"] {
  display: none;
}

/* Membuat label sebagai checkbox kustom */
input[type="checkbox"] + label {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  width: 100%;
  transition: all 0.3s ease;
}

/* Warna dan border ketika checkbox dipilih */
input[type="checkbox"]:checked + label {
  background-color: #ffffff; /* Warna latar belakang saat dipilih */
  border-color: #ffffff; /* Warna border saat dipilih */
  color: rgb(0, 0, 0); /* Warna teks saat dipilih */
}

/* Warna hover pada label */
input[type="checkbox"] + label:hover {
  background-color: #f0f0f0;
  color: black;
}

input[type="submit"] {
  background-color: #080707;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  font-size: 1.5em;
  margin: 4px 2px;
  cursor: pointer;
}

.submit {
  display: flex;
  justify-content: center;
}

.container-choice {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.table-container {
  padding: 10px 20px;
  width: 100%;
  overflow-x: auto; /* Membuat scroll horizontal jika tabel terlalu lebar */
}

table {
  width: 100%;
  min-width: 700px;

  /* Minimal lebar tabel */
  /* border-collapse: collapse; */
  border-collapse: collapse;
}

.main-table h1 {
  background-color: rgb(239, 235, 235);
  text-align: center;
  width: 100%;
  overflow-x: auto;
  font-size: 1.5em;
  font-weight: bold;
  padding: 20px 0;
  font-family: "poppins", sans-serif;
}
th,
td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
}

.no-column {
  max-width: 8%;
  width: 8%;
}

.message-column {
  max-width: 30%;
  width: 30%;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #464040;
  color: white;
}
th {
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
}
tbody {
  background-color: white;
  display: block;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: auto;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

/* XS: Layar sangat kecil (mobile) */
@media (max-width: 575.98px) {
  body {
    font-size: 14px;
    /* background-color: lightgray; */
  }

  .header {
    font-size: 18px;
    text-align: center;
  }
}

/* SM: Layar kecil (mobile landscape) */
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 16px;
    background-color: lightblue;
  }

  .container {
    max-width: 540px;
  }

  .header {
    font-size: 20px;
    text-align: left;
  }
}

/* MD: Layar sedang (tablet) */
@media (min-width: 768px) {
  body {
    font-size: 18px;
    background-color: lightgreen;
  }

  .container {
    max-width: 720px;
  }

  .navbar-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 20px;
  }

  .container-nav-item {
    gap: 20px;
  }

  .container-member-profile {
    display: flex;
    gap: 20px;
  }

  .member-profile {
    width: 50%;
  }

  .container-songs {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .img-top-5 {
    width: 200px;
  }

  .container-song {
    width: 340px;

    height: 1100px;
  }

  .header {
    font-size: 24px;
    text-align: left;
  }
}

/* LG: Layar besar (desktop) */
@media (min-width: 992px) {
  body {
    font-size: 20px;
    background-color: white;
  }

  form {
    margin: 0 20px;
  }

  .container {
    max-width: 960px;
  }

  .container-about-unique {
    display: flex;
    gap: 20px;
  }

  /* .img-ayase-ikura {
    width: 500px;
    height: 500px;
    background-image: url("asset/yoasobi-ayase-ikura.jpg");
  } */

  .about-yoasobi {
    width: 50%;
    align-items: center;
    justify-content: start;
  }

  .unique-yoasobi {
    width: 50%;
  }

  .container-side-main {
    display: flex;
    gap: 5px;
    position: relative;
  }

  .nav-bar {
    position: relative;
    gap: 30px;
    padding: 20px;
    justify-content: start;
  }

  .nav-bar .sticky {
    top: 20px;
  }

  .navbar-row {
    display: flex;
    justify-content: unset;
    flex-direction: column;
    padding: 0px 20px;
  }

  .container-nav-item {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .nav-item {
    width: 100%;
    /* border-radius: 0px; */
    text-align: center;
  }
  .nav-item:hover {
    width: 100%;
    border-radius: 0px;
    text-align: center;
  }

  .container-songs {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .img-top-5 {
    width: 30%;
  }

  .container-song {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 10px;
    flex-direction: unset;
  }

  .text-top-5 {
    width: 70%;
    justify-content: start;
    align-items: start;
  }

  .header {
    font-size: 28px;
    text-align: left;
  }

  .container-choice {
    display: flex;
    gap: 10px;
    flex-direction: row;
  }
  .container-name-year {
    display: flex;
    gap: 10px;
    flex-direction: row;
  }

  .nama {
    width: 50%;
  }
  .year {
    width: 50%;
  }
  .favorite {
    width: 50%;
  }

  .genre {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
    background-color: white;
  }

  .img-ayase-ikura {
    background-image: url("asset/yoasobi-ayase-ikura.jpg");
    width: 100%;
    height: 1000px;
  }

  .container-profiles {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .member-profile {
    width: 90%;
  }

  .container-member-profile {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container {
    max-width: 1140px;
  }

  .header {
    font-size: 28px;
    text-align: left;
  }

  .img-hero-question {
    background-image: url("https://images7.alphacoders.com/125/thumb-1920-1253348.jpg");

    /* background-repeat: no-repeat; */
    height: 500px;
    /* background-position: top; */

    /* margin: 10px 0px; */
  }
}
@media (min-width: 1400px) {
  body {
    font-size: 20px;
    background-color: white;
  }

  .container {
    max-width: 1320px;
  }

  .header {
    font-size: 28px;
    text-align: left;
  }
}
